<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark text-light">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Beauty salons have proven to be a recession-proof industry across United States. Although sales had declined
          from 2008 highs due to the Great Recession, they remain robust with long term positive forecast.[2] Even
          though during recessions, consumers tend to be more price conscious, spending continues to increase. With
          rising per capita incomes across the United States since 2015, beauty salons are booming with the industry
          generating $56.2 billion in the United States. </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a routerLink="/sign-up-for-a-haircut" routerLinkActive="active">Sign Up For A Haircut</a>
          </li>
          <li>
            <a routerLink="/haircuts" routerLinkActive="active">Haircuts</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          </li>
          <li>
            <a routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>
          <li>
            <a href="#!">Terms And Conditions</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/futsurdmitriy"> Futsur Dmytro</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
