<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
          <h1>About <span>Beauty bar</span></h1>
          <h3>Beauty salon</h3>
          <p class="about-paddingB">A beauty salon or beauty parlor (beauty parlour), or sometimes beauty shop, is an
            establishment dealing with cosmetic treatments for men and women.[1] Other variations of this type of
            business include hair salons and spas.
            There is a distinction between a beauty salon and a hair salon and although many small businesses do offer
            both sets of treatments; beauty salons provide extended services related to skin health, facial aesthetics,
            foot care, nail manicures, aromatherapy — even meditation, oxygen therapy, mud baths and many other
            services</p>
          <h3>Beauty treatments</h3>
          <p>Massage for the body is a popular beauty treatment, with various techniques offering benefits to the skin
            (including the application of beauty products) and for increasing mental well-being. Hair removal is offered
            at some beauty salons through treatments such as waxing and threading. Some beauty salons style hair instead
            of going to a separate hair salon, and some also offer sun tanning. Other treatments of the face are known
            as facials. Specialized beauty salons known as nail salons offer treatments such as manicures and pedicures
            for the nails. A manicure is a treatment for the hands, incorporating the fingernails and cuticles and often
            involving the application of nail polish, while a pedicure involves treatment of the feet, incorporating the
            toenails and the softening or removal of calluses.</p>
          <div class="about-icons">
            <ul>
              <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              </li>
              <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              </li>
              <li><a href="https://plus.google.com/"><i id="social-gp"
                                                        class="fa fa-google-plus-square fa-3x social"></i></a></li>
              <li><a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="about-img">
          <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
