<div class="container">
  <form method="post" class="needs-validation" novalidate [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
    <input type="hidden" formControlName="id" [(ngModel)]="client.id">
    <input type="hidden" formControlName="createdAt" [(ngModel)]="client.createdAt">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 form-group">
        <label for="validationTooltip00">First Name</label>
        <input type="text" class="form-control" id="validationTooltip00" name="firstName"
               placeholder="First Name" [(ngModel)]="client.firstName" required formControlName="firstName">
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 form-group">
        <label for="validationTooltip00">Name</label>
        <input type="text" class="form-control" id="validationTooltip01" name="middleName"
               placeholder="Middle Name" [(ngModel)]="client.middleName" required formControlName="middleName">
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 form-group">
        <label for="validationTooltip00">Second Name</label>
        <input type="text" class="form-control" id="validationTooltip02" name="secondName"
               placeholder="Second Name" [(ngModel)]="client.secondName" required formControlName="secondName">
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 form-group">
        <label for="validationTooltip02">Is Regular</label>
        <input type="text" name="isRegular" class="form-control" id="validationTooltip03"
               placeholder="Is Regular" required formControlName="isRegular" [(ngModel)]="client.isRegular">
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 form-group">
        <label>Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="exampleRadios1"
                 name="gender" value="male" [checked]="client.gender==='male'" required formControlName="gender">
          <label class="form-check-label" for="exampleRadios1">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" [checked]="client.gender==='female'" type="radio" id="exampleRadios2" value="female"
                 name="gender" formControlName="gender">
          <label class="form-check-label" for="exampleRadios2">
            Female
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="exampleRadios3" value="undefined"
                 name="gender" [checked]="client.gender==='undefined'" formControlName="gender">
          <label class="form-check-label" for="exampleRadios3" >
            Undefined
          </label>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>
